<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Secrets <%= user.name %>!</h1>
    <p>My Secret Lies in my email : <%= user.email %></p>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log out</a>
  </div>
</div>

<%- include('partials/footer') %>
